@charset "UTF-8";

/* Header */
body {
  padding: 0px;
  margin: 0px;
  /* margin-right: 190px;
    margin-left: 190px; */
    background-color: #121212;
  /*background-repeat:no-repeat; */
  width: auto;
}
header {
  background-color: #2a2a2a !important;
  height: auto;
}
#navbarHeader {
  background-color: #121212;
  max-width: 150px;
}
.name-project {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

/*Styling links*/
navbar a {
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 4px;
}
navbar a:hover,
navbar a:active,
navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
navbar a:hover {
  background: rgba(0, 0, 0, 0.06);
}
navbar a:active {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.1);
}
navbar a {
  color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
  font-size: 10.125px;
  float: right;
}

/*Shadow*/
navbar .paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

/*Setting Up Navbar Layouts*/
navbar .navbar-inverse {
  color: #000;
  background: #2a2a2a;
  border: none;
  min-height: 50px;
  max-height: 50px;
  height: 50px;
}
navbar .container-fluid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
navbar .navbar-body {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
navbar div.navbar-end {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
navbar div.navbar-start,
navbar div.navbar-end {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
}
navbar div.navbar-start .logo {
  opacity: 0.6;
  width: 30px;
}

/*Integrating Two Navbars Together*/
navbar .nav {
  z-index: 2;
}
navbar .tabs {
  /* margin-top: 50px; */
  z-index: 1;
  position: relative;
}
navbar .tabs .navbar-body {
  padding: 0;
  margin-bottom: 0;
}

/*Styling Search Textbox*/
/* 
navbar div.search{
    background: rgba(0,0,0,0.12);
    flex: 3;
    -webkit-flex: 3;
    margin:6px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
}
navbar div.search{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 42px;
    padding: 0 9px;
    overflow-x: hidden;
}
navbar div.search.focused{
    background: rgba(0,0,0,0.05);
}
navbar div.search .search-textbox{
    position: relative;
    width:60px;
    height: 100%;
    background: transparent;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: start;
    color: rgba(0,0,0,1);
    outline: none;
    -webkit-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    cursor: pointer;

}
navbar div.search.focused .search-textbox{
    width:100%;
    cursor: text;
}
navbar div.search:hover span{
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
    transform: translateX(40%);
}
navbar .ico-btn{
    position: relative;
    width: 30px;
    height:30px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    padding:5px;
}
navbar .ico-btn.search-btn, .ico-btn.clear-btn{
    padding:3px;
    margin: 3px;
    opacity: 0;
    visibility: hidden;

}
navbar .ico-btn.clear-btn{
    margin-right: -30px;
    -webkit-animation:0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    -o-animation:0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    animation:0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
navbar div.search.focused.not-null.multi-char .ico-btn.clear-btn{
    margin-right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-animation:0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-animation:0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    animation:0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
navbar .ico-btn{
    -webkit-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}
navbar div.search.focused.not-null .ico-btn.search-btn{
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
} */

/*Styling Tabs*/
navbar .tabs .navbar-body li.active a {
  color: #f5f5f5;
}

navbar .tabs .navbar-body li {
  -webkit-transition: all 0.2s cubic-bezier(0.211, 0.61, 0.36, 1);
  -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}
navbar .tabs .navbar-body li:hover {
  background: rgba(0, 0, 0, 0.02);
}
navbar .tabs .navbar-body li:active {
  background: rgba(0, 0, 0, 0.05);
}
navbar .tabs .navbar-body li a:hover,
.tabs .navbar-body li a:active {
  background: rgba(0, 0, 0, 0);
  color: #fffefe;
}

/*Styling Tab Highlighter*/
navbar .tab-highlighter {
  height: 5px;
  width: 50px;
  margin-top: 40px;
  background: #0078f2;
  position: absolute;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}

/*Keyframes*/
@keyframes SwiftSlide {
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes SwiftSlideToRight {
  100% {
    opacity: 0;
    margin-right: -30px;
  }
}

/* dropdow */
.dropdown-menu li a:hover {
  border-bottom: 3px solid #0078f2;
  -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
  transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}

/*Nav---------------------------------------------------------- */
nav {
  position: relative;
  background-color: #121212;
  /* background-color: #0f0d0d; */
  /* margin-top: 56px; */
  border-bottom: 5px solid;
}
.nav {
  max-width: 1100px;
}
.nav-item {
  color: #686868;
}
.nav-link {
  font-size: 14px;
  color: #686868;
  font-family: sans-serif;
  font-weight: bold;
}
.nav-link:hover {
  color: white;
  border-bottom: 1px white solid;
}
.nav-link:link {
  color: #686868;
}
.nav-link:active {
  color: #d66a6a;
}
.seach-nav {
  background-color: #202020;
  width: 240px;
}
.seach-nav .rounded {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 30px;
  background-color: #202020;
  color: white;
}
.seach-nav .input-group-text {
  height: 30px;
  color: white;
  background-color: #202020;
}
.list-nav-user {
  margin-right: 20px;
}
.icons {
  margin-right: 100px;
}
/* dropdow */
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
.fade-up {
  background-color: #121212;
  color: #686868;
}
/* show more================================== */
.show-more {
  max-width: 120px;
  font-size: 14px;
  color: #686868;
  font-family: sans-serif;
  font-weight: bold;
}
.show-more:hover {
  color: white;
  border-bottom: 1px white solid;
}
.ul-taikhoan li a {
  color: #c0bcbc;
  border-radius: 10px;
}

/* article */

article > div > div > div > img {
  border-radius: 20px;
}

.bg-color {
  background-color: #121212;
}

/* aside */

aside .choose-img {
  text-align: left;
  margin: 7px;
  border-radius: 5px;
  border: 1px groove #262626;
}
aside .choose-img img {
  margin: 10px;
  width: 40px;
}
aside .choose-img:hover {
  background-color: #262626;
  color: white;
  text-decoration: underline;
}
.choose-img {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}

.main {
  position: relative;
  top: 60px;
  max-width: 1100px;
}

/* next Main */
.nextMain {
  position: relative;
  margin-top: 100px;
  max-width: 1100px;
}
.d-sm-block .btn > img {
  border-radius: 5px;
}
/* .nextMain>div>div>div>div>div>div img{
    max-width: 200px;
  } */
/* image in carousel ================================================================================ */
/* .wrapper {
    margin-top: 200px;
  } */

/* .card {
    border: 1px solid #eee;
    cursor: pointer
  } */
.product-details {
  color: white;
}

.weight {
  margin-top: -65px;
  transition: all 0.5s;
}

.weight small {
  color: #e2dede;
}

.buttons {
  padding: 10px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0;
}

.cart-button {
  height: 48px;
}

.cart-button:focus {
  box-shadow: none;
}

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards;
}

@keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%;
  }

  25% {
    opacity: 1;
    left: 26%;
    top: 0%;
  }

  50% {
    opacity: 1;
    left: 23%;
    top: -22%;
  }

  75% {
    opacity: 1;
    left: 19%;
    top: -18%;
  }

  100% {
    opacity: 1;
    left: 14%;
    top: 28%;
  }
}
/*   
   .card:hover .buttons {
    opacity: 1;
  }
  
   .card:hover .weight {
    margin-top: 10px;
  }
  
   .card:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
  } */

.card:hover .buttons {
  opacity: 1;
}

.card:hover .weight {
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
}

.titles > i:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
}
.card {
  background-color: #121212;
}
/* title ============================================================================================*/

.sale {
  font-size: 20px;
  /* background-color: #e2dede; */
  text-align: left;
  /* margin:2em; */
  font-family: Calibri, arial, sans-serif;
}
.to-top {
  color: white;
  padding-top: 1.8em;
  display: inline-block; /* or block */
  position: relative;
  border-color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.to-top:before {
  content: ">>";
  font-size: 0.9em;
  position: absolute;
  /* top:0; */
  left: 120%;
  margin-left: -0.7em;
  border: solid 0.13em white;
  border-radius: 10em;
  width: 1.4em;
  height: 1.6em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: pink;
  border-color: pink;
}
.to-top:hover:before {
  transform: rotate(360deg);
}
.kichThuoc-img {
  border-radius: 5px;
  max-width: 200px;
}
/* Basic carousel=========================================================================*/
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.owl-carousel .item {
  margin: 3px;
}
/* .owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
  } */

.owl-carousel .item {
  margin: 3px;
}

.owl-carousel {
  margin-bottom: 15px;
}
.item a {
  text-decoration: none;
}
del {
  color: gray;
}

/*classify-index====================================================================== */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-center {
  top: 50%;
  left: 50%;
  margin-left: 43px;
}
.classify-index div {
  background-color: #121212;
}
.block-game-in-classify-index:hover {
  background-color: #262626;
}
.block-game-in-classify-index:hover .moment {
  background-color: #262626;
}
.block-game-in-classify-index {
  width: 350px;
}
.block-game-in-classify-index a img {
  border-radius: 5px;
}
.card-classify {
  border-right: 1px white solid;
}
/* Xem thêm */
.classify-index div div button {
  width: 100px;
  color: white;
  border: 1px solid white;
}
.classify-index div div button:hover {
  background-color: #262626;
  color: white;
  border: 1px solid white;
}
.classify-index div div h5 {
  max-width: 270px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}
.block-game-in-classify-index a div {
  margin-right: 20px;
  color: white;
}
.moment {
  margin-left: 20px;
}
/* Image hover effect with caption
  LittleSnippets.net----------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0016 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%; */
  background: #000000;
  text-align: left;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* Demo purposes only */

.box {
	font-family: 'Merriweather Sans', sans-serif;
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: all .5s;
}

.box:hover {
	box-shadow: 3px 3px 5px #999;
}

.box:before, .box:after {
	content: "";
	background: radial-gradient(circle at 23% 70%, rgba(255, 255, 255, 0.4),
		#ffffff71 30%);
	width: 150%;
	height: 150%;
	opacity: 0;
	transform: rotate(45deg);
	position: absolute;
	top: -10.5%;
	right: -150%;
	z-index: 1;
	transition: all 0.35s ease;
}

.box:after {
	background: rgba(255, 255, 255, 0.5);
	width: 65%;
	height: 65%;
	right: auto;
	left: -20%;
	top: -65%;
}

.box:hover:before {
	opacity: 1;
	right: -85%;
}

.box:hover:after {
	opacity: 1;
	top: -42%;
}

.img-phoBien {
	max-width: 250px;
	border-radius: 20px;
}

.img1 {
	max-width: 500px;
}

.w-100 {
	border-radius: 50px;
}

.box img {
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.box:hover img {
	transform: scale(1.2);
}

.box .box-content {
	text-align: right;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	right: -100%;
	z-index: 2;
	transition: all .5s;
}

.box:hover .box-content {
	right: 5%;
}

.box .title {
	color: #1e272e;
	font-size: 23px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 3px 0;
}

.box .post {
	font-size: 16px;
	text-transform: capitalize;
	margin: 0 0 10px;
	display: block;
}

.box .icon {
	padding: 0;
	margin: 0;
	list-style: none;
}

.box .icon li {
	display: inline-block;
	margin: 0 4px;
}

.box .icon li a {
	color: #fff;
	background-color: #1e272e;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: block;
	transition: all 0.3s;
}

.box .icon li  a:hover {
	color: #1e272e;
	background-color: #fff;
	border-radius: 10%;
	box-shadow: 0 0 5px #1e272e inset;
}

@media only screen and (max-width:990px) {
	.box {
		margin: 0 0 30px;
	}
}

@media only screen and (max-width:479px) {
	.box .title {
		font-size: 20px;
	}
}

.nextMain-header {
	margin: 50px;
}
.nextMain-header {
	margin: 50px;
}
