
    
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous" />
<!--Basic carousel  -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
<!-- font icons -->
<link rel="stylesheet"
	href="./assets/fonts/fontawesome-free-6.0.0-beta3-web/css/all.css" />
    <link rel="stylesheet" href="./assets/styles/admin.css" />

<!-- css local link -->
<link rel="stylesheet"
	href="./assets/styles/index-style.css">
<link rel="stylesheet"
	href="./assets/styles/index-footer.css" />
</head>
<body>
	<header>
	</header>
	    <section class="py-5 header">
      <div class="container" style="max-width: 1100px">
        <div class="row">
          <div class="col-md-3">
            <div
              class="nav flex-column nav-pills nav-pills-custom"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link mb-3 p-3 shadow active"
                id="v-plls-home-tab"
                data-toggle="pill"
                href="#v-pills-home"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"
              >
                <i class="fas fa-user mr-2"></i>
                <span class="font-weight-bold small text-uppercase"
                  >Tutor</span
                ></a
              >

              <a
                class="nav-link mb-3 p-3 shadow"
                id="v-pills-profile-tab"
                data-toggle="pill"
                href="#v-pills-profile"
                role="tab"
                aria-controls="v-pills-profile"
                aria-selected="false"
              >
                <i class="far fa-calendar-plus mr-2"></i>
                <span class="font-weight-bold small text-uppercase"
                  >Danger</span
                ></a
              >
            </div>
          </div>
          <div class="col-md-9">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade shadow rounded bg-white show active p-5"
                id="v-pills-home"
                role="tabpanel"
                aria-labelledby="v-pills-home-tab"
              >
                <h4 class="font-italic mb-4">Tutor</h4>
              <p>Đây là chức năng dành riêng cho admin , bạn cần chọn các chức năng trên thanh menu để sử dụng nó và làm theo hướng dẫn của từng trang(This is an admin-specific function, you need to select the functions on the menu bar to use it and follow the instructions of each page)</p>
              </div>

              <div
                class="tab-pane fade shadow rounded bg-white p-5"
                id="v-pills-profile"
                role="tabpanel"
                aria-labelledby="v-pills-profile-tab"
              >
                <h4 class="font-italic mb-4">Danger</h4>
       
       <p>Những thay đổi của bạn sẽ trưc tiếp thây đổi dữ liệu của hệ thống, vì vậy hãy xem xét thật kỹ trước khi thực hiện điều gì đó!(Your changes will directly change your system's data, so take a good look before doing anything!)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
			<footer>
	</footer>
</body>
</html>