<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html"> <span
			class="align-middle">AdminKit</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">Pages</li>

			<li class="sidebar-item" th:classappend="${index} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/index}"> <i class="align-middle"
					data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
					
			</a></li>
			<li class="sidebar-header">Tools & Components</li>

			<li class="sidebar-item" th:classappend="${ui_user} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/ui-user}"> <i class="align-middle"
					data-feather="user"></i> <span class="align-middle">Edit
						User</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${ui_product} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/ui-product}"> <i class="align-middle"
					data-feather="grid"></i> <span class="align-middle">Edit
						Product</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${ui_brand} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/ui-brand}"> <i class="align-middle"
					data-feather="check-square"></i> <span class="align-middle">Edit
						Brand</span>
			</a></li>



			<li class="sidebar-item" th:classappend="${ui_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/ui-category}"> <i
					class="align-middle" data-feather="coffee"></i> <span
					class="align-middle">Edit Category</span>
			</a></li>

			<li class="sidebar-header">List Information</li>

			<li class="sidebar-item" th:classappend="${list_user} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-user}"> <i class="align-middle"
					data-feather="align-left"></i> <span class="align-middle">List
						Users</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${list_product} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-product}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Products</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${list_brand} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-brand}"> <i class="align-middle"
					data-feather="align-left"></i> <span class="align-middle">List
						Brands</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${list_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-category}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Categories</span>
			</a></li>
				<li class="sidebar-item" th:classappend="${list_stock} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-stock}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Stock receipts</span>
			</a></li>

			<li class="sidebar-header">Report</li>
			
			<li class="sidebar-item" th:classappend="${lits_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/users/order-counts}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">Users Oder</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${lits_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/report/productInventory}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">Product Inventory</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${lits_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-category}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Categories</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${lits_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-category}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Categories</span>
			</a></li>
			<li class="sidebar-item" th:classappend="${lits_category} ? 'active'"><a class="sidebar-link"
				th:href="@{/shoeshop/admin/list-category}"> <i
					class="align-middle" data-feather="align-left"></i> <span
					class="align-middle">List Categories</span>
			</a></li>
			
		</ul>

		
	</div>
</nav>