<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>

<header>
	<navbar>
	<div
		class="navbar navbar-fixed-top navbar-inverse tabs paper-shadow-bottom-z-2">
		<div class="container-fluid">
			<ul class="navbar-body list-inline">
				<li style="color: white"><a
					href="/ASM_JAVA4/Video"> <i
						class="fab fa-youtube fa-3x"></i>
				</a></li>
				<li><a href="" class="active"  style="font-size: 30px;"> ADMINISTRATION TOOL</a></li>

			</ul>
			<ul class="navbar-body list-inline pull-right">
				<li class="active"><a
					href="/ASM_JAVA4/IndexAdminServlet" class="active">HOME</a>
				</li>
				<li><a href="/ASM_JAVA4/UploadVideoServlet" class="active">VIDEO</a></li>
				<li>|</li>
				<li><a href="/ASM_JAVA4/UserServlet" class="active">USER</a></li>
				<li><a href="/ASM_JAVA4/FavoriteServlet" class="active">FAVORITE</a></li>
				<li><a href="./gioithieu.html" class="active">REPORTS</a></li>
				<li style="color: white">|</li>
				<li class="nav-item dropdown" style="padding: 15px"><a
					class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
					href="#"><i class="fas fa-globe"></i></a>
					<ul class="dropdown-menu fade-up">
						<li><a class="dropdown-item" style="color: #686868" href="#">
								Vietnamese </a></li>
						<li><a class="dropdown-item" style="color: #686868" href="#">
								English </a></li>
					</ul></li>
	<li><a href="/khanhttpc03027_it17301_ASM/views/dang-ky.jsp"
					class="active"><i class="fas fa-user-plus"></i>${fullName}</a>
				</li>
			</ul>
			<div class="tab-highlighter"></div>
		</div>
	</div>
	<!--2 navbar for pushing 1 above after scrolling (Not Implemented yet.)-->
	</navbar>
</header>
