<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Shop Giày thể thao</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

      <link th:href="@{/assets/styles/index.css}" rel="stylesheet" />
  	<link rel="stylesheet" href="/assets/fonts/fontawesome-free-6.0.0-beta3-web/css/all.css">
  	
</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler d-lg-none fa-solid bg-dark " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-list" style="color: aliceblue"></i>
        </button>
        <!-- logo -->
        <a class="ms-auto" href="#">
          <img src="assets/icons/logo.jpg" alt="logo" width="80px" height="80px">
        </a>
        <!-- seach -->
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto m-2 mb-lg-0">
            <li class="nav-item ative"><a class="nav-link" aria-current="page" href="#">Trang
                chủ</a></li>
            <li class="nav-item dropdown"><a class="nav-link "  data-bs-toggle="dropdown" href="#">Sản phẩm
                <i class="fa-solid fa-angle-down fa-xs"></i>
              </a>
              <ul class="dropdown-menu fade-up">
                <li><a class="dropdown-item" style="color: #686868" href=""> Boots</a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Cao gót </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Thể thao </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Đế gỗ </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Sneakers </a></li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link" href=""> Khuyến mãi</a></li>
            <li class="nav-item"><a class="nav-link" href="">Tin tức</a></li>

            <li></li>

          </ul>

          <!--tìm kiếm , User , giỏ hàng-->

          <ul class="navbar-nav m-2 mb-lg-0 ">

            <li class="nav-item dropdown" style="cursor: pointer ;"><a class="nav-link "  data-bs-toggle="dropdown" href="#"><i
                  class="fa-solid fa-user"></i></a>
              <ul class="dropdown-menu fade-up" style=" list-style: none;">
                <li><a class="dropdown-item" style="color: #686868" data-bs-toggle="modal" data-bs-target="#modalLogin">
                    Đăng nhập</a></li>
                <li><a class="dropdown-item" style="color: #686868" data-bs-toggle="modal"
                    data-bs-target="#modalSignUp"> Đăng kí </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href="" data-bs-toggle="modal" data-bs-target="#modalChangePass" > Đổi mật khẩu </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href="" data-bs-toggle="modal" data-bs-target="#modalForget" > quên mật khẩu </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> tài khoản </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Đăng xuất </a></li>
              </ul>
            </li>

            <div class="vr mt-3" style="height: 30px; border: solid 1px; margin-left: 15px; margin-right: 15px;"></div>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#GioHang">
                <i class="fa-solid fa-basket-shopping"></i>
              </a></li>
            &ensp;
          </ul>

          <!-- <img src="./picture/midel-.webp" width="200px" alt="" /> -->
        </div>
      </div>
    </nav>

    <!-- Hộp thoại giỏ hàng -->
    <div class="offcanvas offcanvas-end" id="GioHang">
      <div class="offcanvas-header ">
        <h4 style="margin-left: 120px;">Giỏ hàng <i class="fa-solid fa-basket-shopping fa-xs"></i></h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
       
      </div>
     
     
      <i class="fa-solid fa-minus fa-2xl text-center mb-2"></i>
      <div class="offcanvas-body text-center text-secondary">
     
        <table class="table table-responsivetable-primary text-start col-lg-12 col-sm-12">
          <thead>
            <tr>
              <td scope="col">
                <img src="assets/images/bitHunter.jpg" width="70px" height="70px">
              </td>
              <td scope="col mx-auto">
                <h6 class="text-truncate" style="font-weight: bold; max-width: 200px; margin-bottom: -20px;">Già thể thao nam đẹp nhất năm 2023</h6> <br>
                <i>Màu sắc: cam</i> | <i>Size: 39</i> <br>
                <i>1 x <i class="text-danger">999.000đ</i></i>
              </td>
              <td scope="col" >
              <i class="fa-regular fa-circle-xmark fa-lg " style="margin-bottom: 35px;margin-right: 100px;"></i></td>
            </tr>
          </thead>
        </table>
        <!-- Tạm tính  -->
        <div class="">
          <h6 class="text-dark fw-bold">Tạm Tính :  <i class="text-danger">999.000đ</i></h6>  
        
        </div>
        <hr>
        <!-- button thanh toán -->
        <div class="d-grid gap-2">
          <button type="button" name="" id="" class="btn " style="background-color: #232946 ;color: #fffffe;">Đến giỏ
            hàng</button>
          <button type="button" name="" id="" class="btn" style="background-color: #232946 ;color: #fffffe;">Thanh
            Toán</button>
        </div>
      </div>
    </div>



    <!-- ModalLogin -->
    <div class="modal fade row" id="modalLogin">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-basic">
            <h3>Đăng nhập</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body ">
            
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Tên tài khoản hoặc địa chỉ Email <i class="text-danger">*</i></label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Mật khẩu <i class="text-danger">*</i></label>
              <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="form-check">
              <input class="form-check-input " type="checkbox" value="" id="">
              <label class="form-check-label" for="">
                Remember me ?
              </label>

            </div>
            <button type="button" class="btn mt-2 pr-2 mb-3" style="background-color: #232946 ;color: #fffffe;">Đăng nhập</button><br>
           <div style="cursor: pointer ;">
            <p  data-bs-toggle="modal" data-bs-target="#modalSignUp" >Bạn chưa có tài khoản ? đăng kí </p>
            <p data-bs-toggle="modal" data-bs-target="#modalForget" style="margin-top: -12px;">Quên mật khẩu ?</p>
           </div>
              
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal signup -->
    <div class="modal fade row" id="modalSignUp">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-basic">
            <h3>Đăng kí tài khoản</h3>

            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body ">
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Họ và tên : <i class="text-danger">*</i></label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Email <i class="text-danger">*</i></label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Mật khẩu <i class="text-danger">*</i></label>
              <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Nhập lại mật khẩu <i class="text-danger">*</i></label>
              <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>

            <button type="button" class="mb-3 btn  mt-2 pr-2" style="background-color: #232946 ;color: #fffffe;">Đăng
              kí</button>

            <div style="cursor: pointer ;">
              <p data-bs-toggle="modal" data-bs-target="#modalLogin" >Bạn đã có tài khoản ? Đăng nhập</p>
             </div>
          </div>




        </div>
      </div>
    </div>
    <!-- Quên mật khẩu -->
    <div class="modal fade row" id="modalForget">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-basic">
            <h3>Quên mật khẩu</h3>

            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body ">
       
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Email <i class="text-danger">*</i></label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
      
    
            <button type="button" class="mb-3 btn  mt-2 pr-2" data-bs-toggle="modal" data-bs-target="#modalRePass"  style="background-color: #232946 ;color: #fffffe;" >Kiểm tra</button>

            <div style="cursor: pointer ;">
              <p data-bs-toggle="modal" data-bs-target="#modalLogin" >Bạn đã có tài khoản ? Đăng nhập</p>
             </div>
          </div>
        </div>
      </div>
    </div>
       <!-- Quên mật khẩu ->> nhập mật khẩu mới -->
       <div class="modal fade row" id="modalRePass">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header bg-basic">
              <h3>Nhập mật khẩu mới</h3>
  
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body ">
         
              <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
                <label for="" class="form-label">Mật khẩu <i class="text-danger">*</i></label>
                <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted"></small>
              </div>
              <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
                <label for="" class="form-label">Nhập lại mật khẩu <i class="text-danger">*</i></label>
                <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted"></small>
              </div>
        
      
              <button type="button" class="mb-3 btn  mt-2 pr-2" style="background-color: #232946 ;color: #fffffe;">Kiểm tra</button>
  
              <div style="cursor: pointer ;">
                
               </div>
            </div>
          </div>
        </div>
      </div>

    
 <!-- Đổi mật khẩu-->
 <div class="modal fade row" id="modalChangePass">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-basic">
        <h3>Đổi mật khẩu</h3>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
   
        <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
          <label for="" class="form-label"> Nhập mật khẩu hiện tại <i class="text-danger">*</i></label>
          <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted"></small>
        </div>
  

        <button type="button" class="mb-3 btn  mt-2 pr-2" data-bs-toggle="modal" data-bs-target="#modalChangeRePass"  style="background-color: #232946 ;color: #fffffe;" >Kiểm tra</button>

        <div style="cursor: pointer ;">
         </div>
      </div>
    </div>
  </div>
</div>
   <!-- Đổi mật khẩu ->> nhập mật khẩu mới -->
   <div class="modal fade row" id="modalChangeRePass">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header bg-basic">
          <h3>Nhập mật khẩu mới</h3>

          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body ">
     
          <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
            <label for="" class="form-label">Mật khẩu <i class="text-danger">*</i></label>
            <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted"></small>
          </div>
          <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
            <label for="" class="form-label">Nhập lại mật khẩu <i class="text-danger">*</i></label>
            <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted"></small>
          </div>
    
  
          <button type="button" class="mb-3 btn  mt-2 pr-2" style="background-color: #232946 ;color: #fffffe;">Kiểm tra</button>

          <div style="cursor: pointer ;">
            
           </div>
        </div>
      </div>
    </div>
  </div>

  </header>
  <main>
    <!-- casrousel -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/images/carosel1.jpg" class="d-block w-100" height="540px" alt="...">
        </div>
        <div class="carousel-item " data-bs-interval="10000">
          <img src="assets/images/carosel3.jpg" class="d-block w-100" height="540px" alt="...">
        </div>
        <div class="carousel-item active">
          <img src="assets/images/carosel2.jpg" class="d-block w-100" height="540px" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Mục sản phẩm -->
    <div action="" class="formDanhMuc container mt-5 text-center ">

      <div class="row mt-3">
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_collectibles.ico" class="imgDM"><br>
            <h3>Bộ sưu tập</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_boots_48.png" class="imgDM"><br>
            <h3>Boot</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_womens_shoe_48.png" class="imgDM"><br>
            <h3>Cao gót</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_trainers_48.png" class="imgDM"><br>
            <h3>Thể thao</h3>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_vegan_shoes_48.png" class="imgDM"><br>
            <h3>Đế gỗ</h3>
          </a>
        </div>
        <div class="form-floating1 mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/icons/icons8_Sneakers_48.png" class="imgDM"><br>
            <h3>Sneakers</h3>
          </a>
        </div>
      </div>
    </div>

    <!-- Sản phẩm bán chạy nhất -->
    <section class="section-products">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-6">
            <div class="header">
              <h1 class="text-dark" style="color: #232946;"> # Sản phẩm bán chạy</h1>
              <h6 class="text-secondary">Top những sản phẩm được mua nhiều nhất</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-1" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-2" class="single-product">
              <div class="part-1">
                <span class="discount">15% off</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-3" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-4" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-5" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-6" class="single-product">
              <div class="part-1">
                <span class="discount">15% off</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-7" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-8" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-9" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-10" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-11" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-6" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Sản phẩm mới về -->

    <section class="section-products">
      <div class="container">
        <img src="assets/images/carosel1.jpg" height="400px" class="container col-lg-6 col-md-6 col-sm-6 d-block w-100"
          style="margin-top: -100px;border-radius: 20px; margin-bottom: 30px;">
        <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-6">
            <div class="header">
              <h1 class="text-dark"> # Sản phẩm mới về</h1>
              <h6 class="text-secondary">Những sản phẩm mới nhất được shop nhập về phục vụ tín đồ</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-1" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-2" class="single-product">
              <div class="part-1">
                <span class="discount">15% off</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-3" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-4" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-5" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-6" class="single-product">
              <div class="part-1">
                <span class="discount">15% off</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-7" class="single-product">
              <div class="part-1">
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-old-price">$79.99</h4>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-8" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-9" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-10" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-11" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"><i class="fas fa-shopping-cart  mt-2"></i></a></li>
                  <li><a href="#"><i class="fas fa-heart mt-2"></i></a></li>
                  <li><a href="#"><i class="fas fa-plus mt-2"></i></a></li>
                  <li><a href="#"><i class="fas fa-expand mt-2"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-6" class="single-product">
              <div class="part-1">
                <span class="new">new</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div action="" class=" text-center container">

      <div class="row ">
        <div class="">

        </div>
        <div class="col-sm-6 col-md-2 col-lg-2 ">

        </div>
        <div class="col-md-2 col-sm-6 col-lg-2 ">

        </div>
        <div class="col-md-2 col-sm-6 col-lg-2 ">

        </div>
        <div class="col-md-2 col-sm-6 col-lg-2 ">

        </div>
        <div class="col-md-2 col-sm-6 col-lg-2 ">

        </div>
      </div>
    </div>
    <div action="" class="ThuongHieuNoiTieng container mt-5 text-center ">
      <h1>#Thương hiệu nổi tiếng</h1>
      <h6 class="text-secondary col-sm-12">Chúng tôi luôn đem đến khách hàng những thương hiệu hàng đầu thế giới</h6>
      <br>
      <div class="row mt-3">
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="assets/images/logoNike.png" width="92px" height="50px" class="IMGTHNT"><br>
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="/assets/images/logoConverse.png" width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="/assets/images/logoD&G.jpg" width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="/assets/images/AZHA_Logo_A.svg" width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="/assets/images/logobitisHunter.png" width="92px" height="50px" class="IMGTHNT">
          </a>
        </div>
        <div class="form-floating1 mb-3 col-sm-6 col-md-2 col-lg-2 ml-2">
          <a href="" class="fontDM">
            <img src="/assets/images/logoHolister.png" width="92px" height="50px">
          </a>
        </div>
      </div>
    </div>
    

  </main>
  <!-- Footer -->
  <footer class="text-center text-lg-2tart bg-white text-muted text-dark">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-2etween p-4 border-bottom">
      <!-- Left -->

      <!-- Left -->

      <!-- Right -->

      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-sm-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>CÔNG TY 404 NOT FOUND
            </h6>
            <p>
              Công ty cổ phần 404 NOT FOUND là một công ty cổ đông thuộc sở hữu của 404 NOT FOUND với vai trò là nhà
              cung cấp các phụ kiện thời trang thể thao đến với khách hàng khắp mọi miền tổ quốc.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-sm-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Chính sách
            </h6>
            <p>
              <a href="#!" class="text-reset">Hướng dẫn mua hàng</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách thanh toán</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách bảo hành</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách vận chuyển</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-sm-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Thông tin
            </h6>
            <p>
              <a href="#!" class="text-reset">Về chúng tôi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Câu hỏi thường gặp</a>
            </p>
            <p>
              <a href="#!" class="text-reset">tin tức</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Liên hệ</a>
            </p>
            <div>
              <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
              </a>


            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-2 col-sm-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Thông tin liên hệ</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i>Ninh kiều , Cần Thơ</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              404@fpt.edu.vn
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
            <!-- các trang mạng xã hội -->

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">404notfound@fpt.edu.vn</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script>


    const navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(navLink => {
      navLink.addEventListener('click', () => {
        navLinks.forEach(link => link.classList.remove('active'));
        navLink.classList.add('active');
      });
    });



  </script>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>
>