     <div class="col-md-6 col-lg-4 col-xl-3" id="item">
            <div id="product-2" class="single-product">
              <div class="part-1"  style=" background: url("/images/NikeAriMax.png") no-repeat center;">
                <span class="discount">15% off</span>
                <ul>
                  <li><a href="#"> <i class="fa-solid fa-basket-shopping"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">Here Product Title</h3>
                <h4 class="product-price">$49.99</h4>
              </div>
            </div>
          </div>