<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

</head>

<body>
	
	<div class="text-center mt-3">
		<h1 class=""># SẢN PHẨM MỚI VỀ</h1>
		<h6 class="text-secondary">Những sản phẩm mới nhất được shop nhập
			về phục vụ tín đồ</h6>
	</div>
	<div class="container py-1">

		<div class="row justify-content-center ">
			<div class="col-12 col-lg-3" th:each="item : ${items}">
				<div class="card box-shadow mx-auto my-2 " style="width: 17rem;">
				<a th:href="@{/shoeshop/details}">
					<img th:src="@{/images/product-images/__${item.detailedImages[0].mainImage}__}"
						class="card-img-top" alt="..." width="200px">
					<div class="card-body  ">
						<h5 class="card-title text-truncate text-dark" style="max-width: 230px;">
							<label th:text="${item.name}"></label>
						</h5>
						<hr>
						<p class="text-center text-secondary  " style="text-decoration: none;">
							<label class="text-secondary">Thương hiệu: <label th:text="${item.brand.name}" ></label> ,
							 <br>Trạng thái : <label th:text="*{item.status ? 'Đang bán' : 'Ngừng kinh doanh'}" ></label>
							| số lượng : <label th:text="${item.quantity}"></label>
							</label>
						</p>
						<p class="text-center text-dark">
						<label style="color:  black">
							Giá: <del class="text-secondary  text-decoration-none">1.000.00</del>₫<i class="text-danger fw-bold"> 
							<label th:text="${item.price}"></label>₫
							</i> 
							<a th:href="@{/shoeshop/giohang}" class="IMGItem me-auto text-dark" style="text-decoration: none"> 
							<i class="fa-solid fa-basket-shopping"></i>
							</a>
							</label>
						</p>
					</div>
					</a>
				</div>
			</div>

		</div>

	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
</body>

</html>