<div class="container py-5">
	<div class="row justify-content-center">
		<div class="text-center">
			<h1 class=""># SẢN PHẨM BÁN CHẠY NHẤT</h1>
			<h6 class="text-secondary">Top những sản phẩm được mua nhiều
				nhất</h6>
		</div>

		<div class="col-12 col-lg-3">
			<div class="card box-shadow mx-auto my-5" style="width: 17rem;">
				<a th:href="@{/shoeshop/details}"> <img
					th:src="@{/images/bitHunter.png}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
							Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
						<hr>
						<p class="text-center text-secondary">
							Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
						</p>

						<p class="text-center fw-bold">
							Giá: <i class="text-danger ">1,019,000₫ </i> &ensp;</a> <a
					class="IMGItem me-auto text-dark"> <i
					class="fa-solid fa-basket-shopping"></i>
				</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-5" style="width: 17rem;">
		<a th:href="@{/shoeshop/details}">
			<img th:src="@{/images/bitHunter11.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; </a>
					 <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
			
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-5" style="width: 17rem;">
			<img th:src="@{/images/bitHunter12.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-5" style="width: 17rem;">
			<img th:src="@{/images/bitHunterCord.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-1" style="width: 17rem;">
			<img th:src="@{/images/Biti_s_Hunter_X.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-1" style="width: 17rem;">
			<img th:src="@{/images/bitHunterNu.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-1" style="width: 17rem;">
			<img th:src="@{/images/bitHunterNu2k22.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-3">
		<div class="card box-shadow mx-auto my-0" style="width: 17rem;">
			<img th:src="@{/images/bitHunter10.png}" class="card-img-top"
				alt="...">
			<div class="card-body  ">
				<h5 class="card-title text-truncate" style="max-width: 230px;">Giày
					Thể Thao Nữ Bitis Hunter Running Màu Trắng DSWH08900</h5>
				<hr>
				<p class="text-center text-secondary">
					Thương hiệu : Bitis , <br> Trạng thái : Còn số lượng : 20
				</p>

				<p class="text-center fw-bold">
					Giá: <i class="text-danger ">1,019,000₫ </i> &ensp; <a href=""
						class="IMGItem me-auto text-dark"> <i
						class="fa-solid fa-basket-shopping"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
</div>