<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="nav" >
      <div class="container-fluid">
        <button class="navbar-toggler d-lg-none fa-solid bg-dark " type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-list" style="color: aliceblue"></i>
        </button>
        <!-- logo -->
        <a class="ms-auto" href="#">
          <img th:src = "@{/icons/logo.jpg}" alt="logo" width="80px" height="80px">
        </a>
        <!-- seach -->
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto m-2 mb-lg-0">
            <li class="nav-item  "><a class="nav-link text-dark" th:href="@{index}" aria-current="page">Trang
                chủ</a></li>
            <li class="nav-item dropdown ative"><a class="nav-link text-dark"  data-bs-toggle="dropdown" href="#">Sản phẩm
                <i class="fa-solid fa-angle-down fa-xs"></i>
              </a>
              <ul class="dropdown-menu fade-up bg-light">
                <li><a class="dropdown-item" style="color: #686868" href=""> Boots</a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Cao gót </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Thể thao </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Đế gỗ </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Sneakers </a></li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link text-dark" href=""> Khuyến mãi</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="">Tin tức</a></li>

            <li></li>

          </ul>

          <!--tìm kiếm , User , giỏ hàng-->

          <ul class="navbar-nav m-2 mb-lg-0 ">

            <li class="nav-item dropdown" style="cursor: pointer ;"><a class="nav-link "  data-bs-toggle="dropdown" href="#">
          <i class="fa-solid fa-user"></i></a>
              <ul class="dropdown-menu fade-up bg-light" style=" list-style: none;">
                <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/login}">
                    Đăng nhập</a></li>
                <li><a class="dropdown-item" style="color: #686868" th:href="@{/shoeshop/signUp}"> Đăng kí </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href="" th:href="@{/shoeshop/ChangePass}" > Đổi mật khẩu </a>
                </li>
                <li><a class="dropdown-item" style="color: #686868" href="" th:href="@{/shoeshop/Forget}" > quên mật khẩu </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> tài khoản </a></li>
                <li><a class="dropdown-item" style="color: #686868" href=""> Đăng xuất </a></li>
              </ul>
            </li>

            <div class="vr mt-3" style="height: 30px; border: solid 1px; margin-left: 15px; margin-right: 15px;"></div>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#GioHang">
                <i id="cartIcon" class="fa-solid fa-basket-shopping"></i>
              </a></li>
            &ensp;
          </ul>

          <!-- <img src="./picture/midel-.webp" width="200px" alt="" /> -->
        </div>
      </div>
    </nav>
   