<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	  <div class="modal fade row" id="modalChangePass">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-basic">
        <h3>Đổi mật khẩu</h3>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
   
        <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
          <label for="" class="form-label"> Nhập mật khẩu hiện tại <i class="text-danger">*</i></label>
          <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted"></small>
        </div>
  

        <button type="button" class="mb-3 btn  mt-2 pr-2" data-bs-toggle="modal" data-bs-target="#modalChangeRePass"  style="background-color: #232946 ;color: #fffffe;" >Kiểm tra</button>

        <div style="cursor: pointer ;">
         </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>