<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="modal fade row" id="modalLogin">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-basic">
            <h3>Đăng nhập</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body ">
            
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Tên tài khoản hoặc địa chỉ Email <i class="text-danger">*</i></label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 col-sm-12 col-lg-12 col-md-12">
              <label for="" class="form-label">Mật khẩu <i class="text-danger">*</i></label>
              <input type="password" class="form-control " name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="form-check">
              <input class="form-check-input " type="checkbox" value="" id="">
              <label class="form-check-label" for="">
                Remember me ?
              </label>

            </div>
            <button type="button" class="btn mt-2 pr-2 mb-3" style="background-color: #232946 ;color: #fffffe;">Đăng nhập</button><br>
           <div style="cursor: pointer ;">
            <p  data-bs-toggle="modal" data-bs-target="#modalSignUp" >Bạn chưa có tài khoản ? đăng kí </p>
            <p data-bs-toggle="modal" data-bs-target="#modalForget" style="margin-top: -12px;">Quên mật khẩu ?</p>
           </div>
              
          </div>
        </div>
      </div>
    </div>
  </body>
</html>